In [2]:
#Q65: Which Admission Ward has maximum number of visits scheduled?
import pandas
#reading the data into a variable named discharge
discharge = pandas.read_excel("Cardiac_Outcomes.xlsx","Hospitalization_Discharge")
#counting the freequency or number of occurrences of each unique admission ward
countfreequencydischageUnique=discharge["admission_ward"].value_counts()
#sorting that list in descending and getting the first row for max occurrences
countfreequencydischageUnique.sort_values(axis = 0, ascending = False).head(1)

admission_ward
Cardiology    1547
Name: count, dtype: int64

In [2]:
#Q66: Display total count of patients in each discharge_department based on gender
import pandas
discharge = pandas.read_excel("Cardiac_Outcomes.xlsx","Hospitalization_Discharge")
demo =pandas.read_excel("Cardiac_Outcomes.xlsx","Demography")
row1=discharge['inpatient_number']
row2 = discharge['discharge_department']
row3 = demo['gender']
dataforQ66 = [row1, row2, row3]
join = pandas.concat(dataforQ66, axis = 1)
grouping = join.groupby(["discharge_department","gender"])["gender"].count()
grouping

discharge_department  gender
Cardiology            Female    993
                      Male      710
GeneralWard           Female    137
                      Male      104
ICU                   Female      5
                      Male        7
Others                Female     28
                      Male       24
Name: gender, dtype: int64

In [3]:
import pandas
prescriptions=pandas.read_excel("Cardiac_Outcomes.xlsx","Patient_Precriptions")
prescriptionsUnique=prescriptions["Drug_name"].unique()
countfreequencyprescriptionsUnique=prescriptions["Drug_name"].value_counts()
countfreequencyprescriptionsUnique

Drug_name
Spironolactone tablet                               1833
Furosemide injection                                1720
Furosemide tablet                                   1641
Meglumine Adenosine Cyclophosphate for injection    1115
Deslanoside injection                               1017
Digoxin tablet                                       999
Aspirin enteric-coated tablet                        958
Atorvastatin calcium tablet                          822
Milrinone injection                                  709
sulfotanshinone sodium injection                     570
Metoprolol Succinate Sustained-release tablet        523
Benazepril hydrochloride tablet                      434
Clopidogrel Hydrogen Sulphate tablet                 401
Valsartan Dispersible tablet                         348
Shenfu injection                                     338
Isosorbide Mononitrate Sustained Release tablet      326
metoprolol tartrate injection                        307
Hydrochlorothiazide tablet                           283
warfarin sodium tablet                               253
Torasemide tablet                                    252
Nitroglycerin injection                              203
Heparin Sodium injection                             153
Enoxaparin Sodium injection                          113
Isoprenaline Hydrochloride injection                  30
Dobutamine hydrochloride injection                    22
Name: count, dtype: int64