#Q65: Which Admission Ward has maximum number of visits scheduled?

In [2]:

import pandas
#reading the data into a variable named discharge
discharge = pandas.read_excel("Cardiac_Outcomes.xlsx","Hospitalization_Discharge")
#counting the freequency or number of occurrences of each unique admission ward
countfreequencydischageUnique=discharge["admission_ward"].value_counts()
#sorting that list in descending and getting the first row for max occurrences
countfreequencydischageUnique.sort_values(axis = 0, ascending = False).head(1)

admission_ward
Cardiology    1547
Name: count, dtype: int64

#Q66: Display total count of patients in each discharge_department based on gender

In [2]:
import pandas
discharge = pandas.read_excel("Cardiac_Outcomes.xlsx","Hospitalization_Discharge")
demo =pandas.read_excel("Cardiac_Outcomes.xlsx","Demography")
row1=discharge['inpatient_number']
row2 = discharge['discharge_department']
row3 = demo['gender']
dataforQ66 = [row1, row2, row3]
join = pandas.concat(dataforQ66, axis = 1)
grouping = join.groupby(["discharge_department","gender"])["gender"].count()
grouping

discharge_department  gender
Cardiology            Female    993
                      Male      710
GeneralWard           Female    137
                      Male      104
ICU                   Female      5
                      Male        7
Others                Female     28
                      Male       24
Name: gender, dtype: int64

Q#67: How many Unique patients were precribed each type of medication?

In [3]:
import pandas
prescriptions=pandas.read_excel("Cardiac_Outcomes.xlsx","Patient_Precriptions")
prescriptionsUnique=prescriptions["Drug_name"].unique()
countfreequencyprescriptionsUnique=prescriptions["Drug_name"].value_counts()
countfreequencyprescriptionsUnique

Drug_name
Spironolactone tablet                               1833
Furosemide injection                                1720
Furosemide tablet                                   1641
Meglumine Adenosine Cyclophosphate for injection    1115
Deslanoside injection                               1017
Digoxin tablet                                       999
Aspirin enteric-coated tablet                        958
Atorvastatin calcium tablet                          822
Milrinone injection                                  709
sulfotanshinone sodium injection                     570
Metoprolol Succinate Sustained-release tablet        523
Benazepril hydrochloride tablet                      434
Clopidogrel Hydrogen Sulphate tablet                 401
Valsartan Dispersible tablet                         348
Shenfu injection                                     338
Isosorbide Mononitrate Sustained Release tablet      326
metoprolol tartrate injection                        307
Hydrochlorothiazide tablet                           283
warfarin sodium tablet                               253
Torasemide tablet                                    252
Nitroglycerin injection                              203
Heparin Sodium injection                             153
Enoxaparin Sodium injection                          113
Isoprenaline Hydrochloride injection                  30
Dobutamine hydrochloride injection                    22
Name: count, dtype: int64

Q#68: Find 5 patients with the highest Discharge days greater than 20. List their most common outcome

In [1]:
import pandas
discharge = pandas.read_excel("Cardiac_Outcomes.xlsx","Hospitalization_Discharge")
result = discharge.loc[(discharge['dischargeDay'] > 20)]
result[["inpatient_number", "dischargeDay", "outcome_during_hospitalization"]].sort_values(by="dischargeDay",ascending=False ).head()

      inpatient_number  dischargeDay outcome_during_hospitalization
884             794077           123                          Alive
1613            768711           118                          Alive
1548            791880            88                          Alive
1573            794784            82                          Alive
1513            757711            76                          Alive

#Q72 What % of the dataset is male vs female?

In [70]:
import pandas
demo =pandas.read_excel("Cardiac_Outcomes.xlsx","Demography")
group_by_gender = demo.groupby('gender').count()
total = int(demo.shape[0])
percentFemale= (int(demo[demo.gender == 'Female'].shape[0])/total)*100
percentMale = (int(demo[demo.gender == 'Male'].shape[0])/total)*100
print('Percentage of Female= ', round(PercentFemale, 1),'%')
print('Percentage of Male= ', round(PercentMale,1), '%')

Percentage of Female=  57.9 %
Percentage of Male=  42.1 %

Q#70: On average, what is the most frequent weekday of admission?

In [117]:
import pandas
discharge = pandas.read_excel("Cardiac_Outcomes.xlsx","Hospitalization_Discharge")
admitDate = pandas.DataFrame(discharge['Admission_date'])
admitDate['Admission_date'] = pandas.to_datetime(admitDate['Admission_date']) 
admitDate['dayOfWeek'] = admitDate['Admission_date'].dt.day_name() 
grouping = admitDate.groupby(["dayOfWeek"])["dayOfWeek"].count()
mostFrequentDay = grouping.sort_values(axis = 0, ascending = False).head(1) 
print("Most admissions happened on",mostFrequentDay.idxmax())

Most admissions happened on Monday

Q 71: Which year had the maximum admissions?

In [115]:
import pandas
discharge = pandas.read_excel("Cardiac_Outcomes.xlsx","Hospitalization_Discharge") 
admitDate = pandas.DataFrame(discharge['Admission_date']) 
admitDate['Admission_date'] = pandas.to_datetime(admitDate['Admission_date']) 
admitDate['year'] = pandas.DatetimeIndex(admitDate['Admission_date']).year
grouping = admitDate.groupby(['year'])['year'].value_counts()
print("Maximum admissions happened in the year",grouping.idxmax())

Maximum admissions happened in the year 2016

In [ ]:
#Q73: Which patient in the youngest age category weighs the most?

In [225]:
import pandas
#demo is my dataframe
demo =pandas.read_excel("Cardiac_Outcomes.xlsx","Demography")
#getting the rows with the minimum age group and storing this subset into result
result = demo.loc[(demo['ageCat'] == demo['ageCat'].min() )]
#making a subset with just patient number and weight and sorting it on weight
mysubset = result[['inpatient_number', 'weight']].sort_values('weight', ascending = False).head(1)
mysubset[['inpatient_number']]

      inpatient_number
1092            831184

In [ ]:
 #Q74 Which adm ward had the lowest rate of Outcome Death? #pending -- to calculate the lowest rate

In [264]:
import pandas 
discharge = pandas.read_excel("Cardiac_Outcomes.xlsx","Hospitalization_Discharge")
#discharge[discharge.outcome_during_hospitalization =='Dead']
result = discharge.loc[(discharge['outcome_during_hospitalization']  == 'Dead')]

df=result.groupby(['admission_ward'])['outcome_during_hospitalization'].count()
x=df.sort_values(axis=0,ascending=True).min()
#print (x)
y=dict(df)
#print(y)
for key,value in y.items():
    if value== x:
         print(key)

GeneralWard
ICU
Others