In [2]:
#Q65: Which Admission Ward has maximum number of visits scheduled?
import pandas
#reading the data into a variable named discharge
discharge = pandas.read_excel("Cardiac_Outcomes.xlsx","Hospitalization_Discharge")
#counting the freequency or number of occurrences of each unique admission ward
countfreequencydischageUnique=discharge["admission_ward"].value_counts()
#sorting that list in descending and getting the first row for max occurrences
countfreequencydischageUnique.sort_values(axis = 0, ascending = False).head(1)

admission_ward
Cardiology    1547
Name: count, dtype: int64

In [2]:
#Q66: Display total count of patients in each discharge_department based on gender
import pandas
discharge = pandas.read_excel("Cardiac_Outcomes.xlsx","Hospitalization_Discharge")
demo =pandas.read_excel("Cardiac_Outcomes.xlsx","Demography")
row1=discharge['inpatient_number']
row2 = discharge['discharge_department']
row3 = demo['gender']
dataforQ66 = [row1, row2, row3]
join = pandas.concat(dataforQ66, axis = 1)
grouping = join.groupby(["discharge_department","gender"])["gender"].count()
grouping

discharge_department  gender
Cardiology            Female    993
                      Male      710
GeneralWard           Female    137
                      Male      104
ICU                   Female      5
                      Male        7
Others                Female     28
                      Male       24
Name: gender, dtype: int64

In [3]:
import pandas
prescriptions=pandas.read_excel("Cardiac_Outcomes.xlsx","Patient_Precriptions")
prescriptionsUnique=prescriptions["Drug_name"].unique()
countfreequencyprescriptionsUnique=prescriptions["Drug_name"].value_counts()
countfreequencyprescriptionsUnique

Drug_name
Spironolactone tablet                               1833
Furosemide injection                                1720
Furosemide tablet                                   1641
Meglumine Adenosine Cyclophosphate for injection    1115
Deslanoside injection                               1017
Digoxin tablet                                       999
Aspirin enteric-coated tablet                        958
Atorvastatin calcium tablet                          822
Milrinone injection                                  709
sulfotanshinone sodium injection                     570
Metoprolol Succinate Sustained-release tablet        523
Benazepril hydrochloride tablet                      434
Clopidogrel Hydrogen Sulphate tablet                 401
Valsartan Dispersible tablet                         348
Shenfu injection                                     338
Isosorbide Mononitrate Sustained Release tablet      326
metoprolol tartrate injection                        307
Hydrochlorothiazide tablet                           283
warfarin sodium tablet                               253
Torasemide tablet                                    252
Nitroglycerin injection                              203
Heparin Sodium injection                             153
Enoxaparin Sodium injection                          113
Isoprenaline Hydrochloride injection                  30
Dobutamine hydrochloride injection                    22
Name: count, dtype: int64

#Find 5 patients with the highest Discharge days greater than 20. List their most common outcome

In [1]:
import pandas
discharge = pandas.read_excel("Cardiac_Outcomes.xlsx","Hospitalization_Discharge")
result = discharge.loc[(discharge['dischargeDay'] > 20)]
result[["inpatient_number", "dischargeDay", "outcome_during_hospitalization"]].sort_values(by="dischargeDay",ascending=False ).head()

      inpatient_number  dischargeDay outcome_during_hospitalization
884             794077           123                          Alive
1613            768711           118                          Alive
1548            791880            88                          Alive
1573            794784            82                          Alive
1513            757711            76                          Alive

#Q72 What % of the dataset is male vs female?

In [2]:
import pandas
demo =pandas.read_excel("Cardiac_Outcomes.xlsx","Demography")
Female = int(demo[demo.gender == 'Female'].shape[0])
Male = int( demo[demo.gender == 'Male'].shape[0])
Total = Female + Male
PercentFemale = (Female/Total)*100
PercentMale =(Male/Total)*100
print('Percentage of Female= ', round(PercentFemale, 1),'%')
print('Percentage of Male= ', round(PercentMale,1), '%')

Percentage of Female=  57.9 %
Percentage of Male=  42.1 %